body {
  background-color: antiquewhite;
}

.container {
  margin: auto;
  height: 400px;
  width: 1000px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}

.natural {
  height: 90%;
  width: 10%;
  background-color: white;
  border: 1px solid black;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.sharp {
  height: 50%;
  width: 5%;
  background-color: black;
  color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}